.moviescardlist {
  margin: 35px 0 10px 0;
  padding: 0;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.moviescardlist__cards {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  row-gap: 56px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1140px) {
  .moviescardlist {
    padding-top: 10px;
  }

  .moviescardlist__cards {
    max-width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .moviescardlist__movies {
    padding-top: 28px;
  }
  
  .moviescardlist__saved-movies {
    padding-top: 40px;
  }

  .moviescardlist__cards {
    max-width: 708px;
    row-gap: 90px;
  }
}

@media screen and (max-width: 750px) {
  .moviescardlist__cards {
    margin-top: 18px;
    max-width: 320px;
    row-gap: 50px;
    justify-content: space-around;
  }
}
